<<<<<<< HEAD
.red-background{
    background-color:red;
  }
  .green-background{
    background-color:green;
=======
.red-background{
    background-color:red;
  }
  .green-background{
    background-color:green;
>>>>>>> 747c7cadbaa8a604a3c70909430da6b537ac34da
  }